target/
/local

**/.idea

# Repository wide ignore mac DS_Store files
.DS_Store
dependency-reduced-pom.xml

# Eclipse, Netbeans and IntelliJ files
!.gitignore
!.github
/nbproject
/*.ipr
/*.iws
*.iml
.settings/
.project
.classpath
.factorypath
.vscode
.run/
.checkstyle

*.log
release.properties
*.releaseBackup
pom.xml.tag
pom.xml.next
release-pom.xml
commons-math3-3.6.1
