name: Build and Push
on:
  push:
    paths-ignore:
      - 'LICENSE'
      - '**/.gitignore'
      - '**.md'
      - '**.adoc'
      - '*.txt'
      - '.github/**'
  pull_request_target:
    paths-ignore:
      - 'LICENSE'
      - '**/.gitignore'
      - '**.md'
      - '**.adoc'
      - '*.txt'
      - '.github/**'
jobs:
  # Ensure that tests pass before publishing a new image.
  build-and-push-ci:
    if: github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    env:
      SHA: ${{ github.sha }}
    steps:
      - uses: actions/checkout@v2
      - name: Set CI environment
        if:  github.ref != 'refs/heads/main'
        run: | 
          echo "TAG=$SHA" >> $GITHUB_ENV
          echo "IMAGE_NAME="quay.io/trustyai/trustyai-service-ci" >> $GITHUB_ENV
      - name: Set main-branch environment
        if:  github.ref == 'refs/heads/main'
        run: |
          echo "TAG=latest" >> $GITHUB_ENV
          echo "IMAGE_NAME="quay.io/trustyai/trustyai-service" >> $GITHUB_ENV
      - name: Pull prerequisite images
        run: |
          docker pull $(cat Dockerfile | grep -o -P '(?<=FROM ).*(?= AS build)')
          docker pull $(cat Dockerfile | grep -o -P '(?<=FROM ).*(?= AS runtime)')
      - name: Put expiry date on CI-tagged image
        if:  github.ref != 'refs/heads/main'
        run: sed -i 's#summary="odh-trustyai-service\"#summary="odh-trustyai-service" \\ \n      quay.expires-after=7d#' Dockerfile
      - name: Build image
        run: docker build -t ${{ env.IMAGE_NAME }}:$TAG .
      - name: Log in to Quay
        run: docker login -u ${{ secrets.QUAY_ROBOT_USERNAME }} -p ${{ secrets.QUAY_ROBOT_SECRET }} quay.io
      - name: Push to Quay CI repo
        run: docker push ${{ env.IMAGE_NAME }}:$TAG