name: Tier 1 - Unit tests
on: [ push, pull_request ]
jobs:
  unit-tests:
    env:
      MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
      MAVEN_ARGS: "-nsu -fae -e"
    concurrency:
      group: tests-${{ github.event_name }}-${{ github.head_ref }}-${{ matrix.os }}-${{ matrix.java-version }}-${{ matrix.maven-version }}
      cancel-in-progress: true
    timeout-minutes: 45
    strategy:
      matrix:
        # configure with [ 'ubuntu-latest', 'windows-latest' ] to enable Windows builds
        include:
          - { os: ubuntu-22.04, shell: bash } # Pinned to Ubuntu 22.04 LTS. Change if necessary.
        java-version: [ 17 ]
        # Maven maintained core versions, https://maven.apache.org/docs/history.html
        maven-version: [ '3.6.3', '3.8.8', '3.9.2' ]
      fail-fast: false
    # https://docs.github.com/en/actions/using-jobs/setting-default-values-for-jobs#setting-default-shell-and-working-directory
    defaults:
      run:
        shell: ${{ matrix.shell }} {0}
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} - Java ${{ matrix.java-version }} - Maven ${{ matrix.maven-version }} - Unit Tests
    steps:
      - name: Disk space report before modification
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          echo "Available storage:"
          df -h
      # Inspired to maximize-build-space action https://github.com/easimon/maximize-build-space
      - name: Free disk space (remove dotnet, android and haskell)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
      - name: Disk space report after modification
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          echo "Available storage:"
          df -h
      - name: Support long paths
        # set to use cmd for windows not pwsh
        if: ${{ matrix.os == 'windows-latest' }}
        run: git config --system core.longpaths true
      - name: Set up JDK + Maven version
        # include actions/checkout, actions/setup-java, actions/cache, see https://github.com/s4u/setup-maven-action/blob/main/action.yml
        uses: s4u/setup-maven-action@v1.11.0
        with:
          java-version: ${{ matrix.java-version }}
          maven-version: ${{ matrix.maven-version }}
      - name: Build project for testing
        run: mvn compile test-compile -Dformatter.skip=true
      - name: Run Test Suite
        run: mvn test
      - name: Generate Test Report
        if: ${{ always() }}
        uses: scacap/action-surefire-report@v1.0.10
        with:
          skip_publishing: false
          check_name: Test Results - Java ${{ matrix.java-version }} Maven ${{ matrix.maven-version }}
          fail_on_test_failures: true
          fail_if_no_tests: false
      - name: Upload Test Results
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: test-results-${{ matrix.os }}-java${{ matrix.java-version }}-maven${{ matrix.maven-version }}
          path: |
            **/target/surefire-reports/*.xml
            **/target/failsafe-reports/*.xml